body, html {
    margin: 0;
    padding: 0;
}

#canvasSection {
    width: 100vw;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
}

.canvasSquare {
    margin: 0;
    padding: 0;
    width: 6.25vw;
    aspect-ratio: 1 / 1;
    background-color: beige;
}

.hovercolor {
    background-color: brown;
}

#controls {
    display: flex;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    padding-top: 8px;
    padding-bottom: 4px;
    color: white;
    font: 1em sans-serif;
}
